# PRINT_START_TPU85A — EX0 Qidi X-Max 3
# Grade    : TPU 85A NinjaFlex
# Machine  : EX0 Qidi X-Max 3 — Klipper
# Date     : 2026-03-20
# Statut   : EN TEST

[gcode_macro PRINT_START_TPU85A]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(55)|float %}
    {% set NOZZLE_TEMP = params.NOZZLE_TEMP|default(229)|float %}
    G28
    M140 S{BED_TEMP}
    M190 S{BED_TEMP}
    M104 S{NOZZLE_TEMP}
    M109 S{NOZZLE_TEMP}
    M106 S38
    G92 E0
    G1 Z0.3 F3000
    G1 X2 Y10 F5000
    G1 X2 Y110 E15 F800
    G92 E0
    G1 Z2 F3000

[gcode_macro PRINT_END_TPU]
gcode:
    M104 S0
    M140 S0
    M106 S0
    G91
    G1 Z15 F3000
    G90
    G1 X155 Y280 F5000
    M84
